.card-image-top{
    border-radius: 40%;
}

.card-text{
    font-size: 25px;
     
     
}

.card-title{
    font-size: 35px;
}
.card-body{
    background-color: rgb(203, 83, 123);
    border-radius: 20%;
    text-align: center;
}